{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>New Product</title>
  {{form.media}}

{% block styles %}
 {% bootstrap_css %}
 <link rel="stylesheet" href="{% static 'css/milk.css' %}">
{% endblock %}

</head>

<body>
<h1>Quantity of Milk:</h1>
  <form  action="{%url 'new-product'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    {{form}}
    <input type="submit" class="btn btn-success btn-lg" value="Post">
  </form>

   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}

</body>

</html>
