{% load bootstrap3 %}
{% load highcharts_tags %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

  {% if title %}
    <title>My Dairy Farm - {{title}}</title>
  {% else %}
    <title>My Dairy Farm</title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
  {% endblock %}

 </head>
 <body>
  {% include "navbar.html" %}

  {% block content %}
   <h1 class="text-center">Milk Statistics {{date|date:"l d-F Y"}}</h1>
  {% endblock %}

  {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% highcharts_js 1 0 0 0 %}
    <script type="text/javascript">
    $(function () {
        $.getJSON("{% url 'bar' %}", function(data) {
            $('#container').highcharts(data);
        });
    })
    </script>
  {% endblock %}
 </body>
</html>
