{%extends 'all-milk/base.html'%}

 {% block content %}

 <div class="container">

   <div class="row">
     <h1 class="text-center">{{product.user.username}}</h1>
   </div>

   <div class="row">
     {% autoescape on %}
     {{product.quantity| safe}}
    {% endautoescape %}

   </div>

   <div class="row">
     <p>Posted {{product.date}}, quantity in litres: {{product.quantity}}</p>
   </div>

 </div>

 {% endblock %}
