{%extends 'all-milk/base.html'%}

{% block content %}
  {{block.super}}
  {% if product_list %}
     <ul>
       {% for product in product_list %}
         <li>{{product.date}}: {{product.quantity}} litres</li>
       {% endfor %}
     </ul>
  {% else %}
     <p>None.</p>
  {% endif %}
   <!-- the graph container -->
   <div id="container" style="height: 400px; min-width: 310px; max-width: 1200px; margin: 0 auto"></div>
{% endblock %}
